.content {
    grid-area: profile;
    background-color: rgb(89, 125, 163);
    border-radius: 10px;
    display: grid;
}

.contentImg {
    width: 740px;
    text-align: center;
    margin: 5px;
}

.avaImg {
    width: 170px;
    margin: 0 0 0 5px;
    border-radius: 5px;
    align-items: center;
}

